<!DOCTYPE html>
<html lang="en" ng-app="core">

<head>
    <meta charset="UTF-8">
    <title>APS 01 - Tópicos Avançados</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="//code.angularjs.org/1.4.3/angular.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.4.3/angular-route.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.4.3/angular-resource.js"></script>

    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <link rel="stylesheet" href="css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <h1>Teste</h1>

    <user-menu></user-menu>

    <ul class="tabs"    >
        <li class="tab"><a href="#produtos">Produtos</a></li>
        <li class="tab"><a href="#categorias">Categorias</a></li>
    </ul>
    
    <div class="section" id="produtos">
        <div class="collection" ng-controller="ProdutoController">
            <a href="" class="collection-item" ng-repeat="item in produtos">{{item.name}}</a>
        </div>
    </div>
    
    <div class="section" id="categorias">
        <div class="collection" ng-controller="CategoriaController">
            <a href="" class="collection-item" ng-repeat="item in categorias">{{item.name}}</a>
        </div>
    </div>

    <ng-view></ng-view>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
</body>

</html>